

  @media screen and (min-width:1024px){
    .completedChallengesContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    
      margin: 3.5rem 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--gray-line);
    
      font-weight: 500;
      
    }
  
    .completedChallengesContainer span{
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
  
    }
    
    .completedChallengesContainer span:first-child {
      font-size: 1.25rem;
     
    }
    
    .completedChallengesContainer span:last-child {
      font-size: 1.5rem;
    }

  }
      
  
  @media screen and (min-width:768px) and (max-width: 1023px){
      
  }
  
  
  @media screen and (max-width:767px){
    .completedChallengesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin: 3.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-line);
  
    font-weight: 500;
    
  }

  .completedChallengesContainer span{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;

  }
  
  .completedChallengesContainer span:first-child {
    font-size: 2rem;
   
  }
  
  .completedChallengesContainer span:last-child {
    font-size: 2rem;
  }
      
  }
  