.container {
    display: flex;
    flex-direction: row;
    background-color: #5965e0;
    max-width: 100%;
    height: 100vh;

}

.session{
    display: flex;
    flex-direction: column;
    
    
}

.loginButton {
    background-color: var(--green);
    position: absolute;
    width: 340px;
    height: 80px;
    left: 820px;
    top: 541px;
    
    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 2rem;
    
      
}

.loginButton:hover{
    filter:brightness(0.9);
}


    
.img {
    position: absolute; 
    width: 768px;
    height: 660px;
    left: -68px;
    top: 80px;

    opacity: 0.08;

}

.logo{
    position: absolute;
    width: 360px;
    height: 76px;
    left: 820px;
    top: 199px;
}

.session span{
   color: var(--white);
   position: absolute;
   width: 191px;
   height: 46px;
   left: 820px;
   top: 371px;
   
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 46px;
}

.session p{
    color: var(--text-highlight);
    position: absolute;
    width: 318px;
    height: 60px;
    left: 820px;
    top: 461px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
}
